.page{
    width: 100%;
    height: 90%;
}

.lowerContainer {
    width: 100%;
    height: 80%;
    display: flex;
}

.rightContainer {
    width: 50%;
    padding-top: 60px;
}

.leftContainer {
    width: 50%;
}